@import '../../../styles/styles.scss';

:host {
    display: block;
    margin-bottom: 24px;
    color: $grey-100;
    @include body-medium;
    
    
    a {
        display: grid;
        grid-template-columns: 0.3fr repeat(4, 1fr);
        align-items: center;
        height: 38px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        width: 100%;

        &:hover {
            opacity: .7;
            color: $blue;

            .name {
                color: $blue;
            }
        }
      }
      
    .flag-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .flag {
            border-radius: 4px;
            max-width: 50px;
            max-height: 38px;
            object-fit: contain;
            width: 100%;
        }
    }
    
}

@include respond-medium {
    :host {

        a {
            grid-template-columns: .4fr repeat(2, 1fr) .5fr;
        }

        .region-container {
            display: none;
        }
    }
}