<section class="top">
    <div class="search-container">

    </div>
</section>
<section class="left">

</section>
<section class="right">
    <div class="country-list-container">
        <div class="country-list-header">
            <p class="flag">Flag</p>
            <p class="name">Name</p>
            <p class="population">Population</p>
            <p class="area">Area(km²)</p>
            <p class="region">Region</p>
        </div>
        <div class="country-list">
            @if (error) {
                <p>{{error}}</p>
            } @else {
                @for (country of countryItemList; track country) {
                @defer (on viewport) {
                    <app-country-item [countryItem]="country"></app-country-item>
                } @loading (after 5s) {
                    <section class="country-item-loader"></section>
                }
                @placeholder {
                    <section class="country-item-placeholder"></section>
                }
                @error {
                    <p>Error loading component</p>
                }
            }
            }
            
        </div>
    </div>
</section>