@import '../../../styles/styles.scss';

.right {
    .country-list-container {
        .country-list-header {
            display: grid;
            grid-template-columns: 0.3fr repeat(4, 1fr);
            align-items: center;
            color: $grey-100;
            @include context-medium;
            padding-bottom: 16px;
            border-bottom: 2px solid $grey-300;
        }

        .country-list {
            margin-top: 16px;

            .country-item-placeholder {
                height: 50px; /* match your country-item height */
                background: $grey-100;
                margin-bottom: 12px;
            }

            .country-item-loader {
                height: 50px; /* match your country-item height */
                display: flex;
                align-items: center;
                padding: 0 16px;
                background: red;
                margin-bottom: 12px;
            }
        }
    }
}