<section class="top">
    <div class="list-status">
        <h1>Found {{this.filteredCountryItemList.length}} countries</h1>
    </div>
    <div class="search-container">
        <app-search [label]="SEARCH_LABEL"></app-search>
    </div>
</section>
<section class="bottom">
    <section class="left">
        <app-filters 
            (sortByValue)="filterSortBy($event)" 
            (filterProp)="filter($event)"
            [multiselectOptions]="this.allRegions">
        </app-filters>
    </section>
    <section class="right">
        <div class="country-list-container">
            <div class="country-list-header">
                <p class="flag">Flag</p>
                <p class="name">Name</p>
                <p class="population">Population</p>
                <p class="area">Area(km²)</p>
                <p class="region">Region</p>
            </div>
            <div class="country-list">
                @for (country of filteredCountryItemList; track country.cca3) {
                    @defer (on viewport; prefetch on idle) {
                        <app-country-item [countryItem]="country"></app-country-item>
                    } @loading (after 100ms; minimum 500ms) {
                        <section class="country-item-loader">
                            <div class="shimmer"></div>
                        </section>
                    }
                    @placeholder {
                        <section class="country-item-placeholder">
                        </section>
                    }
                } 
                @if (error) {
                    <div class="error">
                        <p>{{error}}</p>
                        <app-button value="Try again" (click)="this.countriesService.loadCountryItems()"></app-button>
                    </div>
                }
            </div>
        </div>
    </section>
</section>